.scrollmagc_zoomin_container {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: white;
  position: relative;
  height: 200vh;
  background-color: rgb(72, 56, 56);
}
.scrollmagic-zoomin-img {
  width: 100%;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  text-align: center;
  font-size: 8vh;
}
.starbg {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #000;
  height: 100vh;
  width: 100vw;
  line-height: 100vh;
}
